header {
  font-family: "Roboto", sans-serif;
  background-color: #1f2937;
  margin: 0 auto;
}
body {
  margin: 0;
}
#catsheader {
  width: 400px;
  height: 250px;
}
#navigation {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex: 1;
}
#logodiv {
  display: flex;
  flex: 1 1 0;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}
#navigation p {
  color: #f9faf8;
  font-size: 24px;
  margin: 10px;
}
#navigation nav {
  flex: 1;
}
nav ul {
  justify-content: center;
  display: flex;
  flex: 1;
  list-style: none;
  padding: 0;
  gap: 80px;
}
nav ul li a,
header p {
  color: #a6adad;
  text-decoration: none;
  font-size: 18px;
}
#hero {
  display: flex;
  justify-content: space-around;
  gap: 80px;
  padding: 80px;
}
#hero > #left-text {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-end;
  justify-content: center;
  width: 400px;
}
#left-text p,
#left-text h1,
#left-text a {
  width: 400px;
}
#left-text button {
  background-color: #3882f6;
  color: #e5e7eb;
  border: none;
  border-radius: 10px;
  padding: 5px 30px;
}
#hero h1,
p {
  margin: 0;
}

#hero #hero-img {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
}
#hero p {
  padding-bottom: 20px;
}

body h1 {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}
#blockcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
#blocks {
  display: flex;
  justify-content: center;
  width: 50%;
}
#blocks div img {
  width: 80%;
  height: 60%;
  border-radius: 10px;
}
#blocks > div {
  display: flex;
  flex: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#blocks > div > p {
  font-size: 18px;
  color: #a6adad;
}
#Quote {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
}
#Quote #Quote-text {
  font-size: 36px;
  font-weight: 100;
  width: 60%;
}
#author {
  font-weight: bold;
  width: 30%;
  align-self: flex-end;
}
#section3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
}
#call-text {
  display: flex;
  flex-direction: column;
}
#calltoaction {
  display: flex;
  align-items: center;
  background-color: #3882f6;
}
#calltoaction p {
  color: #e5e7eb;
}
#calltoaction h2,
button {
  color: #f9faf8;
}

/* footer */
footer {
  background-color: #1f2937;
  justify-content: center;
  display: flex;
  align-items: flex-end;
  padding: 20px;
  color: #e5e7eb;
}
